body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    color: #3A3B4A;
    position: relative;
}

#navbar {
    width: 100vw;;
}

.title.text-wrap {
    font-weight: bold;
    font-size:5em;
}

.highlight {
    background: linear-gradient(to top, #F4CDCC 45%, transparent 45%);
}

.subheading.text-wrap {
    font-weight: bold;
    font-size:1.25em;
    letter-spacing: 0.2em;
}

.container-fluid {
    height: 100vh;
    background-image: url(homeBackground.jpg);
    background-size: cover;
}
