body {
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    background-image: url(homeBackground.jpg);
    background-size: cover;
}

div {
    font-family: 'Open Sans', sans-serif;
    color: #3A3B4A;
    font-weight: bold;
}

.title {
    font-size: 5em;
}

.highlight {
    background: linear-gradient(to top, #F4CDCC 36%, transparent 36%);
}

.subheading {
    font-size: 1.25em;
    letter-spacing: 0.2em;
    text-shadow: 2px 2px 4px #F5F4F4;
}

.row {
    min-height: 17vh;
}