body {
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    background-image: url(homeBackground.jpg);
    background-size: cover;
    margin: 1vw;
    margin-right: 10vw;
    margin-left: 10vw;
    padding: 5vw;
    border: 3vw;
}

div {
    font-family: 'Open Sans', sans-serif;
    color: #3A3B4A;
    font-weight: bold;
}

.title {
    font-size: 3rem;
    margin: 0;
}

.highlight {
    background: linear-gradient(to top, #F4CDCC 36%, transparent 36%);
}

.subheading {
    letter-spacing: 0.2em;
    text-shadow: 2px 2px 4px #F5F4F4;
}

.row {
    min-height: 3vh;
}

#rowOne {
    min-height: 30vh;
}

#header {
    width: 100%;
}

@media only screen and (min-width: 576px) {
    /* body {
        border: 5px solid white;
        border-width: 4vh 13vw;
        box-shadow: inset 0px 0px 0px 15px #F5F4F4;
    } */
    .title {
        font-size: 4.5vw;
    }
}