.navbar {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #3A3B4A;
}

.navbar-brand{
    position: fixed;
    left: 50%;
    top: 1%;
    transform: translateX(-50%);
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .nav-link {
    color: #3A3B4A;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(58, 59, 74)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
