html,
body {
    overflow-x: hidden;
}

.page-footer {
    width: 100%;
    color: #3A3B4A;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.footerRow {
    text-align: center;
}

.footerDiv {
    padding: 0.3em;
}

.footerText {
    /* text-shadow: 2px 2px 4px lightgrey; */
    font-size: 75%;
}

.footerLink {
    text-decoration: none;
    padding: 10px;
}

i {
    color: #3A3B4A;
    font-size: 110%;
}

a:visited {
    color: #3A3B4A;
}

a.footerLink:hover {
    background: none;
}

#nav:hover {
    text-decoration: none;
}