body {
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    margin: 1vw;
    margin-right: 10vw;
    margin-left: 10vw;
    padding: 5vw;
    border: 3vw;
    opacity: 1;
    transition: 3s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

#header {
    width: 100%;
}

.container-fluid {
    align-items: center;
}

div {
    font-family: 'Open Sans', sans-serif;
    color: #3A3B4A;
    font-weight: bold;
}

.title {
    font-size: 3rem;
    margin: 0;
    padding-left: 5vw;
}

.highlight {
    background: linear-gradient(to top, #F4CDCC 36%, transparent 36%);
}

.subheading {
    letter-spacing: 0.2em;
    margin: 0;
    padding: 0;
    padding-left: 5vw;
    text-shadow: 2px 2px 4px lightgrey;
}

.subsubheading {
    font-weight: normal;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 4px lightgrey;
}

#profile {
    max-height: 80vh;
    width: auto;
    box-shadow: 10px 10px 5px lightgrey, -25px -25px #C1DBE3;
    border-radius: 15px;
}

#frame {
    text-align: center;
    padding: 0;
}

.row {
    min-height: 3vh;
}

.number {
    color: #C1DBE3;
    text-shadow: 2px 2px 4px lightgrey;
}

.goal {
    margin-top: 2.3em;
    margin-left: -1vw;
}

.regularText {
    font-weight: normal;
}

.strikethrough {
    text-decoration: line-through;
}

.paragraph {
    padding: 0;
}

#rowFill {
    height: 80vh;
}

@media only screen and (min-width: 576px) {
    /* body {
        border: 5px solid white;
        border-width: 4vh 13vw;
        box-shadow: inset 0px 0px 0px 15px #F5F4F4;
    } */
    #frame {
        text-align: right;
        padding-right: 5vw;
    }
    .title {
        font-size: 4.5vw;
        padding-left: 0;
    }
    .subheading {
        padding-left: 0;
    }
}