html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    position: relative;
    margin: 1vw;
    margin-right: 10vw;
    margin-left: 10vw;
    padding: 5vw;
    border: 3vw;
    opacity: 1;
    transition: 3s opacity;
}

.background {
    background-color: #EFF3F9;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

#header {
    width: 100%;
}


/* .container-fluid {
    align-items: center;
} */

div {
    font-family: 'Open Sans', sans-serif;
    color: #3A3B4A;
    font-weight: bold;
}

.title {
    font-size: 3rem;
    margin: 0;
    padding-left: 5vw;
}

@keyframes highlighter {
    from{width: 0;}
    to{width: 100%;}
}

@-webkit-keyframes highlighter {
    0%{width: 0;}
    100%{width: 100%;}
}

.highlight { 
    position: relative;
    background: transparent;
}

.highlight::before {
    content: "";
    position: absolute;
    background: linear-gradient(to top, #DEBBBA 36%, transparent 36%);
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all .5s;
    z-index: -1;
    /* @keyframes duration | timing-function | delay |iteration-count | direction | fill-mode | play-state | name */
    animation: 0.5s ease-in-out 1s 1 normal forwards running highlighter;
    -webkit-animation: 0.5s ease-in-out 1s 1 normal forwards running highlighter;
}

.subheading {
    letter-spacing: 0.2em;
    margin: 0;
    padding: 0;
    padding-left: 5vw;
    /* text-shadow: 2px 2px 4px lightgrey; */
}

.subsubheading {
    font-weight: normal;
    letter-spacing: 0.1em;
    /* text-shadow: 2px 2px 4px lightgrey; */
}

#profile {
    max-height: 80vh;
    width: auto;
    box-shadow: 10px 10px 7px lightgrey;
    /* border-radius: 15px; */
}

#frame {
    text-align: center;
    padding: 0;
}

.row {
    min-height: 3vh;
}

.number {
    color: #CED9EF;
    /* text-shadow: 2px 2px 4px lightgrey; */
}

.goal {
    margin-top: 4em;
    margin-left: -1vw;
}

.regularText {
    font-weight: normal;
}

.strikethrough {
    text-decoration: line-through;
}

.paragraph {
    padding: 0;
}

#rowFill {
    height: 80vh;
}

@media only screen and (min-width: 576px) {
    /* body {
        border: 5px solid white;
        border-width: 4vh 13vw;
        box-shadow: inset 0px 0px 0px 15px #F5F4F4;
    } */
    body {
        padding-right: 10vw;
    }
    #frame {
        text-align: right;
        padding-right: 5vw;
    }
    .title {
        font-size: 4.5vw;
        padding-left: 0;
    }
    .subheading {
        padding-left: 0;
    }
}