body {
    overflow-x: hidden;
    position: relative;

    height: 100vh;

    border: 20px solid white;
    box-shadow: inset 0px 0px 0px 10px #F5F4F4;
    margin: 15vh 20vw;
}

div {
    font-family: 'Open Sans', sans-serif;
    color: #3A3B4A;
    font-weight: bold;
}

.title{
    font-size:5em;
    line-height: 5rem;
}

.highlight {
    background: linear-gradient(to top, #F4CDCC 36%, transparent 36%);
}

.subheading {
    font-size:1.1em;
    letter-spacing: 0.2em;
}

#profile {
    float:right;
    height: 100%;

    box-shadow: 10px 10px 5px #F5F4F4;
}

#frame {
    max-height: 80vh;
}

#zigHeading {
    padding-top: 2rem;
}

.row {
    min-height: 5vh;
}