html,
body {
    overflow-x: hidden;
}

.navbar {
    width: 100%;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #3A3B4A;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.nav-link {
    color: #3A3B4A;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    float: right;
}


/* change the brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .nav-link {
    color: #3A3B4A;
}


/* .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58, 59, 74, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */

#toggler {
    color: #3A3B4A;
}

.navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}

.navbar-toggler:focus {
    outline: none;
}

a:visited {
    color: #3A3B4A;
}

a:hover {
    background: linear-gradient(to top,transparent 10%, #DEBBBA 10% 45%, transparent 45%)
}

a.navbar-brand:hover {
    background: none;
}

#nav:hover {
    text-decoration: none;
}