html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    position: relative;
    margin: 1vw;
    margin-right: 10vw;
    margin-left: 10vw;
    padding: 5vw;
    border: 3vw;
    opacity: 1;
    transition: 3s opacity;
}

.background {
    background-color: #FFFEF9;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

#header {
    width: 100%;
}

.container-fluid {
    align-items: center;
}

div {
    font-family: 'Open Sans', sans-serif;
    color: #3A3B4A;
    font-weight: bold;
}

.title {
    font-size: 3rem;
    margin: 0;
    padding-left: 5vw;
}

@keyframes highlighter {
    from{width: 0;}
    to{width: 100%;}
}

@-webkit-keyframes highlighter {
    0%{width: 0;}
    100%{width: 100%;}
}

.highlight { 
    position: relative;
    background: transparent;
}

.highlight::before {
    content: "";
    position: absolute;
    background: linear-gradient(to top, #BDCBCB 36%, transparent 36%);
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all .5s;
    z-index: -1;
    /* @keyframes duration | timing-function | delay |iteration-count | direction | fill-mode | play-state | name */
    animation: 0.5s ease-in-out 1s 1 normal forwards running highlighter;
    -webkit-animation: 0.5s ease-in-out 1s 1 normal forwards running highlighter;
}

.subheading {
    letter-spacing: 0.2em;
    margin: 0;
    padding: 0;
    padding-left: 5vw;
    /* text-shadow: 2px 2px 4px lightgrey; */
}

.row {
    min-height: 3vh;
}

.regularText {
    font-weight: normal;
}

.paragraph {
    padding: 0;
    padding-left: 5vw;
    /* text-shadow: 2px 2px 4px lightgrey; */
}

.link {
    color: #96A7A7;
    text-shadow: none;
}

.link:hover {
    color: #3A3B4A;
    text-decoration: none;
    background: transparent;
}

#rowFill {
    height: 80vh;
}

#backgroundTextDiv {
    z-index: -900;
    display: none;
}

@media only screen and (min-width: 768px) {
    #backgroundTextDiv {
        display: inline;
        color: #EAEEEF;
        font-size: 28vw;
        white-space: nowrap;
        left: -12%;
        align-items: center;
        margin-bottom: -30vh;
        margin-top: -20vh;
    }
}

@media only screen and (min-width: 576px) {
    /* body {
        border: 5px solid white;
        border-width: 4vh 13vw;
        box-shadow: inset 0px 0px 0px 15px #F5F4F4;
    } */
    .title {
        font-size: 4.5vw;
        padding-left: 0;
    }
    .subheading {
        padding-left: 0;
    }
    .paragraph {
        padding-left: 0;
    }
}