.all {
  font-family: 'Nunito Sans', sans-serif;
  justify-content: center;
}

.app {
  margin-top: 10vw;
  margin-bottom: 0;
  padding-bottom: 0;
}

a:visited, a:link {
  color: #C2C2C2;
  text-decoration: none;
}

a:hover {
  color: #6FA2AD;
}

.landing {
  padding: 3vw 10vw;
  text-align: center;
}

.row {
  align-items: center;
  justify-content: center;
}

/* headings for website sections */

.sectionHeading {
  font-size: 2em;
  font-weight: 600;
  color: #C2C2C2;
}

.title {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
}

.text {
  font-size: 1.2em;
}

/* bolded, coloured, highlight that doesn't change color on hover if it's a link */

.highlight, .highlight:link, .highlight:visited {
  font-weight: 700;
  color: #6FA2AD;
}

.bold {
  font-weight: 700;
}

.icon {
  margin: 1.2vw;
}

.about {
  margin-left: 2em;
}

.experience {
  margin-top: 2em;
}

.projects, .experience, .about {
  margin: 3vw 2vw 2vw 2vw;
}

.experienceRow {
  padding-bottom: 2vw;
}

.projectCard {
  padding: 2vw;
}

.projectHeading {
  font-size: 1.5em;
  font-weight: 800;
}

.tagline {
  font-family: 'Courier New', Courier, monospace;
  color: #C2C2C2;
}

.projectImage, .projectImageLink {
  max-width: 100%;
  margin-bottom: 2vw;
  border-radius: 0.5em;
}

.projectImageLink:hover {
  opacity: 0.8;
}

.footer {
  background-color: #fcfcfc;
  padding: 5vw 5vw 2vw 5vw;
  text-align: center;
}

.footerCol {
  background-color: #fcfcfc;
}

.footerText {
  font-size: 1.2em;
  padding: 0 5vw 2vw 5vw;
}

.footerHeading {
  font-size: 1.5em;
  font-weight: 600;
  padding: 0 2vw 1vw 2vw;
}

.footerContact {
  padding: 2vw;
}

.logo {
  padding-top: 2vw;
  max-width: 5vw;
}