.disappear {
  opacity: 0;
}

.all {
  font-family: 'Nunito Sans', sans-serif;
  opacity: 0;
  /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
  animation: fadeIn 3s ease 0s 1 normal forwards running;
}

/* animation keyframes */

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

/* everything but header and footer */

.app {
  margin-top: 10vw;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* TEXT STYLES */

.title {
  font-size: 6vh;
  font-weight: 600;
  text-align: center;
}

/* headings for website sections */

.sectionHeading {
  font-size: 2em;
  font-weight: 600;
  color: #C2C2C2;
}

.heading {
  font-size: 1.5em;
  font-weight: 800;
  padding-bottom: 1vw;
}

.subtitle {
  color: #C2C2C2;
  font-style: italic;
}

.text {
  font-size: 1.2em;
  padding: 1vw 0 1vw 0;
}

ul {
  padding: 0;
  margin: 0
}

.tagline {
  font-family: 'Courier New', Courier, monospace;
  color: #C2C2C2;
}

/* bolded, coloured, highlight that doesn't change color on hover if it's a link */

.highlight, .highlight:link, .highlight:visited {
  font-weight: 700;
  color: #6FA2AD;
}

.bold {
  font-weight: 700;
}

/* LINK STYLES */

a:visited, a:link {
  color: #C2C2C2;
  text-decoration: none;
  transition: color 1s ease;
}

a:hover {
  color: #6FA2AD;
}

/* COMPONENT STYLES */

.experience, .projects, .about {
  padding: 3vw 2vw 2vw 2vw;
}

.about {
  flex: 1;
}

.projectCard {
  padding: 2vw 0 2vw 0;
}

.landing {
  padding: 3vw 2vw 3vw 2vw;
}

.imageContainer {
  text-align: center;
  padding: 2vh;
}

/* ROW STYLING */

.row {
  align-items: center;
  justify-content: center;
}

/* ICON STYLING */

.icon {
  margin: 1.2vw;
}

/* SUBTITLE STYLING */

.animatedSubtitle {
  font-family: 'Courier New', Courier, monospace;
  color: #C2C2C2;
  padding: 0;
  opacity: 0;
  font-weight: normal;
  text-align: center;
  max-width: max-content;
  /* Ensures the content is not revealed until the animation */
  overflow: hidden;
  /* The typwriter cursor */
  border-right: .1em solid #6FA2AD;
  /* Keeps the content on a single line */
  white-space: nowrap;
  /* Gives that scrolling effect as the typing happens */
  margin: 0 auto;
  /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
  animation: typing 4s 2s steps(40, end), blink-caret .75s 2s steps(29, end) infinite, fade 1s 2s forwards;
}

/* coordinate with page fade in */

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* The typing effect */

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }

  50% {
    border-color: #6FA2AD;
  }
}

/* PROJECT STYLING */

.projectImage, .projectImageLink, .images {
  max-width: 100%;
  margin-bottom: 2vw;
  border-radius: 1em;
  transition: opacity 1s ease;
}

.projectImageLink:hover {
  opacity: 0.8;
}

/* FOOTER STYLES */

.footer {
  background-color: #fcfcfc;
  padding: 5vw 5vw 2vw 5vw;
  text-align: center;
}

.footerCol {
  background-color: #fcfcfc;
}

.footerContact {
  padding: 2vw;
}

/* PAGE LOGO STYLING */

.logo {
  padding-top: 2vw;
  max-width: 5vw;
}